nav {
    background: linear-gradient(to right, red, black);
    color: white;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content:  space-between;
    width: 20%;
    margin: 0;
}
li{
    cursor: pointer;
    font-size: 22px;
    color: azure;
    text-decoration: none;
}